{% extends "base.html" %}

{% block title %}Matthew Holmes Portfolio{% endblock %}


{% block content %}

<div class="jumbotron">
<!-- {% if user.is_authenticated %} -->
 <h1 class="display-4">Welcome!</h1>
 <p class="lead">Head on over to your profile</p>
<!-- <a class="btn btn-primary btn-lg" href="{% url 'profile' %}" role="button">My Profile</a>
<a class="btn btn-primary btn-lg" href="{% url 'index' %}" role="button">Forums</a>-->
<!--Code for finding other users-->
</div>











{% endblock %}